:host {

    .header {
        text-align: center;
        padding: 10px;
        background: #c19575;
        color: #644B39;
        font-family: Georgia;
        border-bottom: 3px solid #EF8A40;
        font-style: italic;

        h1 {
            font-size: 32px;
        }
    }

    .box-resume {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: auto;
    
        .sidebar {
            flex: 1;
            background: linear-gradient(#644B39, #32261D);
            text-align: center;
            padding: 10px;
            min-width: 300px;
    
            .perfil {
                width: 130px;
                height: 130px;
                margin: auto;
                background: url('/assets/foto-perfil.png');
                border-radius: 50%;
                margin-bottom: 20px;
            }
    
            .perfil-img {
                width: 130px;
                height: 130px;
                margin: auto;
                border-radius: 50%;
                margin-bottom: 20px;
                overflow: hidden;
                box-shadow: -3px 3px 1px 1px #c19575;
    
                img {
                    width: 100%;
                }
            }
    
            .box-skills {
                padding: 10px;
                background: #FFFFFF08;
                max-width: 300px;
                margin: auto;
    
                h3 {
                    font-size: 18px;
                    color: #EF8A40;
                    text-decoration: underline;
                    font-weight: normal;
                    margin-bottom: 10px;
                }
            }
        }
        
        .main-content {
            flex: 2;
            background: #EFE8E4;
            color: #AC8B74;
    
            .sub-title {
                font-size: 18px;
                color: #644B39;
                border-bottom: 1px solid #644B39;
                margin-bottom: 5px;
            }
    
            .row {
                padding: 10px;
            }
            
            .row-flex {
                display: flex;
                flex-wrap: wrap;
    
                .col {
                    flex: 1;
                    padding: 10px;
                    min-width: 300px;
    
                    &:nth-child(2) {
                        border-left: 3px solid #644B39;
                    }
                }
            }
        }
    }
}